.logo{
    width:180px;
    height:180px;
    margin-top: -30px;
    margin-left: -15px;
}
.pic{
    margin-left: 880px;
    margin-top: -250px;
}
.pic1{
    margin-left: -50px;
    margin-top: -150px;
}
.pic2{
    margin-left: 990px;
    margin-top: -220px;
}
.piclogo{
    width:200px;
    height:200px;
    margin-top: -60px;
}
.text1{
    margin-top: -50px;
}
.pic3{
    margin-left: 20px;
    margin-top: -10px;
}
.locationnav
{
    margin-top: -100px;
}

body{
    background-color: rgb(233, 193, 199);
}

.navbar{
    background-color: darkgreen;
}